.album-list{
    grid-gap: 30px;
    display: grid;
    gap: 30px;
    grid-auto-flow: row;
    grid-auto-rows: 150px;
    grid-template: repeat(1,150px) /repeat(auto-fit,minmax(150px,.5fr));
    margin-bottom: 100px;
    max-width: 1024px;
}

.album-card{
    align-items: center;
    border: 5px solid #eee;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    margin-block: 30px;
    transition: border-color .3s;
    width: 100%;
    position: relative;
}

.album-img{
    margin-bottom: 30px;
    width: 50px;
}

.album-card span{
    background-color: #eee;
    font-size: 1.1rem;
    font-weight: 700;
    justify-self: baseline;
    padding-block: 5px;
    text-align: center;
    transition: .3s;
    width: 100%;
}

.album-card:hover{
    border-color: #07f;
    color: #fff
}

.album-card:hover span{
    background-color: #07f
}

.albumlist-top{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.albumlist-top h1{
    font-size: 1.7rem;
    font-weight: 700;
}
.albumlist-top button{
    background-color: rgba(0,119,255,.1);
    border: 2px solid #07f;
    border-radius: 5px;
    color: #07f;
    cursor: pointer;
    font-weight: 700;
    outline: none;
    padding: 5px 10px;
}

.active-btn{
    background-color: rgba(255,19,0,.1) !important;
    border: 2px solid #ff1300 !important;
    color: #ff1300 !important;
}

.btns{
    position: absolute;
    top: 0;
    right: 0;
    background: white;
}

.edit_btn, .delete_btn{
    background-color: white;
    border: none;
}

.edit_btn:hover, .delete_btn:hover{
    background-color: white;
    border: 1px solid #07f;
    cursor: pointer;
}



.edit_btn img, .delete_btn img{
    height: 20px;
    margin: 2px;
    padding: 2px;
}